header {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 40px;
	text-align: center;
	color: black;
	}

footer {
	text-align:center;
	font-size: 10px;
	margin: 50px;
	}	

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin: 0 auto;
  max-width: 700px;
  line-height: 1.4;
  color: black;
	}

nav {
	margin: 10px;
	}	

section {
	margin: 20px;
	}

.projects {
    
    }

.project {
    width: 200px;
    float: left;
    border: 1px solid #CCC;
    height: 100px;
    margin: 3px;
    padding: 5px 5px;
    position: relative;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
	}
	
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
	}

h2, summary {
  font-weight: bold;
  font-size: 20px;
	}

h3, {
  font-size: 16px;
	}

table {
	text-align: left;
	border-color: black;
	}



